<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">

    <link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Patua+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@500&display=swap" rel="stylesheet">
    <style>
      a {font-family: 'Patua One', cursive; font-size: xx-large;}
      h4 {font-family: 'Noto Serif KR', serif;}
      .asize {font-family: 'Patua One', cursive; font-size: xx-large;}
    </style>
  </head>
<body>
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark" style="background-color: #e3f2fd;">

    <a class="navbar-brand" href="#"><img src="../../../assets/fras3.png" width="170"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>

    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
       <!-- <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>-->


        <li class="nav-item">
          <a class=" text-white nav-link" routerLink='/info'>Info</a>
        </li>


        <li class="nav-item">
          <a *ngIf="!admin" class="text-white nav-link" routerLink='/attention-stu'>Attendance</a>
        </li>


        <li class="nav-item">
          <a *ngIf="admin" class="nav-link text-white" routerLink='/attention-admin'>Attend_Admin</a>
        </li>



        <li class="nav-item dropdown">
         <a class="asize text-white nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Login</a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a *ngIf="!checkLoggedIn()" class="dropdown-item" routerLink='/signup'><h4 class="font-weight-bold">회원가입</h4></a>
            <a *ngIf="!checkLoggedIn()" class="dropdown-item" routerLink='/signin'><h4 class="font-weight-bold">로그인</h4></a>
            <a *ngIf="checkLoggedIn()" class="dropdown-item" (click)="onLogoutClick()" routerLink=''><h4 class="font-weight-bold">로그아웃</h4></a>
          <div class="dropdown-divider"></div>
        </div>
      </li>

      </ul>
      <!--<form class="form-inline mt-2 mt-md-0">
        <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form> -->
      <div>
        <img src="../../../assets/jblogo3.png" class="rounded center-block" width="50" alt="logo">
      </div>
    </div>
  </nav>

</body>
</html>
